<% 
    let action, title;
    
    if (producto?._id) {
        action = "/productos/" + producto._id + "/editar";
        title = "Editar Producto";
    } else {
        action = "/productos/nuevo";
        title = "Nuevo Producto";
    }
    
    
    %> 

<%- include('../Layouts/Header', {title})%>
<h1><%= title %></h1>   

<form action="<%= action %>" method="post" enctype="application/x-www-form-urlencoded">
    <label>
        Nombre:
        <input type="text" name="name" value="<%= producto.name%>" />
    </label>

    <label>
        Precio:
        <input type="number" name="price" value="<%= producto.price%>"/>
    </label>

    <button type="submit">Guardar</button>
</form>

<%- include('../Layouts/Footer')%>